.edSection {
    padding: 40px 290px 50px 82px;
    width: 1000px;
    max-width: 1140px;
    display: flex;
    flex-direction: column;
    position: relative;
    left: 20%;
}

.step {
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    color: #44197E;
    margin: 2px 0px;
    padding: 0;
}

.title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 3rem;
    line-height: 52px;
    color: #44197E;
    margin: 10px 0px;
}

.fields {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: .875rem;
    line-height: 1.3125rem;
    letter-spacing: 0.08em;
    color: #262429;
    margin: .25rem;
}

.boxInput {
    width: 100%;
    margin: 0 0 1rem 0;
    gap: .625rem;
    padding: 1rem;
    border: 1px solid #BEBBC4;
    border-radius: 3rem;
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 400;
    font-size: .875rem;
    line-height: 1.25rem;
    color: #262429;
}

.selector {
    height: 50px;
    width: 49.5%;
    border: 1px solid #BEBBC4;
    border-radius: 48px;
    padding: 16px;
    color: #BEBBC4;
    background-color: white;
    outline: none;
    margin: 0 0.3rem 1rem 0;
    gap: 1rem;
}

::placeholder {
    width: 410px;
    height: 20px;
    letter-spacing: 0em;
    text-align: left;
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #BEBBC4;
}

.buttons {
    Width: 123px;
    Height: 48px;
    padding: 12px 24px;
    gap: 10px;
    border: 1px solid #585360;
    border-radius: 32px;
    background: none;
}

.addSchool {
    width: 205px;
    height: 40px;
    border-radius: 20px;
    border-color: transparent;
    background-color: transparent;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: #44197E;
}

.btnsSection {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: sticky;
    bottom: 0;
    background-color: white;
    padding-right: 80px;
    width: 1140px;

}

.buttons:hover {
    background-color: #2D1154;
    color: white;
}

.buttons:focus {
    background-color: #2D1154;
    color: white;
}