.tipsContainer {
    width: 350px;
    height: 95%;
    background-color: whitesmoke;
    position: fixed;
    right: 0px;
    top: 0;
    z-index: 1;
    padding: 30px 50px 0 15px;
    border-bottom-left-radius: 100px;
}

.list {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    text-align: justify;
    color: #000000;
    list-style-type: style num;
    margin: 10px 0;
}

.someTips {
    text-align: justify;
    margin-left: 25px;
    color: rgba(64, 193, 239, 1);
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 42px;
}