.main {
    display: flex;
    flex-direction: row;
}

.container {
    padding: 40px 290px 50px 82px;
    width: 1000px;
    max-width: 1140px;
    display: flex;
    flex-direction: column;
    position: relative;
    left: 20%;
}

.tips {
    Width: 111px;
    height: 39.06px;
    border-radius: 32px;
    padding: 10px, 24px;
    gap: 10px;
    border: 1px solid #633F94;
    border-radius: 32px;
    background: none;
    font-family: 'Montserrat';
    font-size: 14px;
    color: #262429
}

.firstStep {
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    color: #44197E;
    margin: 2px 0px;
    padding: 0;
}

.titles {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 3rem;
    line-height: 52px;
    color: #44197E;
    margin: 10px 0px;
}

.subtitles {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 2rem;
    line-height: 3.25rem;
    color: #44197E;
    margin: 10px 0px;
}

.label {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: .875rem;
    line-height: 1.3125rem;
    letter-spacing: 0.08em;
    color: #262429;
    margin: .25rem;
}

.input {
    width: 100%;
    margin: 0 0 1rem 0;
    gap: .625rem;
    padding: 1rem;
    border: 1px solid #BEBBC4;
    border-radius: 3rem;
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 400;
    font-size: .875rem;
    line-height: 1.25rem;
    color: #262429;
}

.input::placeholder {
    color: #BEBBC4
}

.textarea {
    width: 100%;
    height: 8.875rem;
    border: 1px solid #BEBBC4;
    border-radius: .9375rem;
    text-align: start;
    padding: 1rem;
}

.btnContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    bottom: 0;
    background-color: white;
}

.btn {
    Width: 7.6875rem;
    Height: 3rem;
    padding: 12px 24px;
    gap: 10px;
    border: 1px solid #585360;
    border-radius: 2rem;
    background: none;
}

.btn:hover {
    background-color: #2D1154;
    color: white;
}

.btn:focus {
    background-color: #2D1154;
    color: white;
}