@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&family=Montserrat:wght@800&display=swap');

.main {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-image: url('../../assets/Background.png');
}

.aside {
    width: 50%;
    height: 100%;
    position: fixed;
    background: #C1B2D4;
    background-image: url('../../assets/Background.png');
    border-radius: 0px 0px 100px 0px;
}

.logo {
    position: relative;
    top: 6%;
    left: 12%;
}

.img {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}

.section {
    position: absolute;
    left: 50%;
    background-image: url('../../assets/Background-2.png');
    width: 50%;
    height: 100%;
}

.h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 6rem;
    line-height: 80px;
    text-align: right;
    letter-spacing: -0.02em;
    color: #000000;
    width: 450px;
    height: 240px;
    position: relative;
    top: 20%;
    left: 15%;
}

.p {
    font-family: 'IBM Plex Sans';
    font-size: 1.5rem;
    line-height: 36px;
    text-align: right;
    letter-spacing: -0.02em;
    width: 400px;
    position: relative;
    top: 20%;
    left: 21%;
    color: #000000;
}

.btn {
    width: 170px;
    height: 56px;
    position: relative;
    top: 20%;
    left: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #40C1EF;
    border-color: #40C1EF;
    border-radius: 32px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 26px;
    color: #FFFFFF;
}