.mainWork {
    display: flex;
    flex-direction: row;
}

.step {
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    color: #44197E;
    margin: 0px;
}

.title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 52px;
    color: #44197E;
    margin-top: -8px;
}

.description {
    color: #44197E;
}

.formContainer {
    padding: 40px 290px 50px 82px;
    max-width: 1140px;
    display: flex;
    flex-direction: column;
    position: relative;
    left: 20%;
}

.checkboxTech {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1rem;
    width: 100%;
}

.checkboxBtn {
    width: fit-content;
    background: #44197E;
    border-radius: 3rem;
    padding: 12px 20px;
    display: inline-block;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
}

.navContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: sticky;
    bottom: 0;
    background-color: white;
    padding-right: 80px;
    width: 1140px;
}

.buttnsNav {
    width: 123px;
    height: 48px;
    padding: 12px 24px;
    gap: 10px;
    border: 1px solid #585360;
    border-radius: 32px;
    background: none;

}

.buttnsNav:hover {
    background-color: #2D1154;
    color: white;
}

.buttnsNav:focus {
    background-color: #2D1154;
    color: white;
}